.board h1 {
  padding: 10px;
}

.boardTop {
  position: relative;
  text-align: center;
  padding: 10px 20px 30px;
}

.boardList {
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  gap: 20px;
  justify-content: center;
  padding: 20px 0;
}

.boardCard {
  width: 300px;
  overflow: hidden;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid lightgray;
  background-color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

.boardCard:hover {
  background-color: #f0f0f0;
}

.boardImg {
  height: 300px;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.boardText {
  padding: 10px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.boardText h3,
.boardText p {
  padding: 5px 0 0;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
}

.boardPageBtn {
  padding: 7px 15px;
  font-size: 16px;
  color: white;
  border-radius: 5px;
  border: 0px;
  cursor: pointer;
  margin: 10px;
}

.toWriteBtn {
  position: absolute;
  right: 0;
  top: 50%;
  background-color: black;
}

.toWriteBtn:hover {
  background-color: #333;
}

.loadMoreWrapper {
  
}

.toMoreBtn {
  background-color: gray;
}

.toMoreBtn:hover {
  background-color: #999;
}

@media (max-width: 767px) {
  .boardImg {
    height: 200px;
  }
}