* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.mypage-container {
  width: 1000px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  margin: auto;
}

.mypage-container .left-menu {
  margin-top: 20px;
}

.mypage-container .left-menu .tabs {
  margin: 20px;
  cursor: pointer;
}


.mypage-container .right-menu {
  display: flex;
  flex-direction: column;
}

.mypage-container .right-menu .profile {
  width: 700px;
  height: 300px;
  margin: 2rem;
  padding: 2rem;
  border-radius: 8px;
  background-color: #f4f6f8;
  box-shadow: 0 4px 10px rgba(219, 214, 214, 0.1);
}

.mypage-container .right-menu .tab-contents {
  width: 700px;
  height: 100%;
  margin: 2rem;
  padding: 2rem;
  border-radius: 8px;
  background-color: #f4f6f8;
  box-shadow: 0 4px 10px rgba(219, 214, 214, 0.1);
}

