.mypage-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  margin: auto;
  padding-top: 150px;
}

.left-menu {
  display: flex;
  justify-content: center;
  cursor: pointer;
}




.right-menu {
  display: flex;
  flex-flow: column;
  justify-content: center;
  margin: 0 auto;
}

.mypage-container .right-menu .profile {
  width: 100%;
  height: 150px;
  margin: 2rem;
  padding: 1rem;
  border-radius: 8px;
  background-color: #f4f6f8;
  box-shadow: 0 4px 10px rgba(219, 214, 214, 0.1);
}

.mypage-container .right-menu .tab-contents {
  width: 100%;
  height: 100%;
  margin: 2rem;
  padding: 1rem;
  border-radius: 8px;
  background-color: #f4f6f8;
  box-shadow: 0 4px 10px rgba(219, 214, 214, 0.1);
}