.myList {
  margin-top: 10px;
  border-top: 1px solid lightgray;
}

.myBoardCard {
  display: flex;
  align-items: center;
  padding: 10px;
  gap: 20px;
  border-bottom: 1px solid lightgray;
  cursor: pointer;
}

.myBoardCard:hover {
  background: #eceff1;
}

.myBoardText {
  display: flex;
  flex: 1;
}

.myBoardTitle,
.myBoardContent {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.myBoardTitle {
  flex: 5;
}

.myBoardContent {
  flex: 2;
}