.myList {
  margin-top: 10px;
}

.myList:first-child {
  border-top: 1px solid lightgray;
}

.myBoardCard {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid lightgray;
  cursor: pointer;
}

.myBoardCard:hover {
  background: #eceff1;
}

.myBoardText {
  display: flex;
  flex: 1;
}

.myBoardTitle,
.myBoardContent {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.myBoardTitle {
  flex: 4;
  font-weight: 500;
}

.myBoardName {
  flex: 2;
}

.myList > p {
  padding-top: 90px;
}